<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="api">
            <directory suffix=".php">./tests/api</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./application</directory>
            <exclude>
                <file>./application/models/customize_setting.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
